<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.custService.form" (ngSubmit)="this.onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" formControlName="fullName" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.fullName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">
          This Field is Required.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.email.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
          Email is invalid.
        </div>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" formControlName="mobile" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.mobile.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
          <label *ngIf="formControls.mobile.errors.required">This Field is Required.</label>
          <label *ngIf="formControls.mobile.errors.minlength">At Least 8 Numbers..</label>
        </div>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" formControlName="location" class="form-control">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="submit">
      </div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
      Submitted Successfully.
    </div>
  </div>
  <div class="col-md-7">
    <app-customer-list></app-customer-list>
  </div>
</div>
