<table class="table table-sm">
  <thead>
    <th>Full Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th></th>
  </thead>
  <ng-container *ngFor="let customer of customerArray">
    <tr>
      <td>{{customer.fullName}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.mobile}}</td>
      <td>
        <button class="btn btn-outline-info btn-sm" (click)="this.customerService.populateForm(customer)">Edit</button>
        <button class="btn btn-outline-danger btn-sm" (click)="onDelete(customer.$key)">Delete</button>
      </td>
    </tr>
  </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletMessage">
  Deleted Successfully.
</div>
